.list {
  display: flex;
  flex-flow: column;
  padding-right: 100px;
}

.logo {
  margin-bottom: 28px;
  width: 132px;
  height: 40px;
}

.link {
  text-decoration: none;
  opacity: 0.4;
  color: #fff;
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 32px;
}
